In [2]:
import pandas as pd

In [3]:
df = pd.read_stata("../scripts/output/mort_ES_1975_2000.dta", convert_categoricals=False)
print(df.shape)
df.head()

(8347583, 32)

,PROVI,MUNI,MESN,ANON,SEX,MESDEF,ANODEF,NACION,PAISNAC,LUGNAC,...,TAMAMUNI,TAMAMUNN,TAMAMUNR,TAMAPAISN,TAMAPAISR,TAMAPAISNACION,CBAS,CRED,CPER,CINF
0,18,,10,1900,1,07,1975,,,,...,,,,,,,,,,
1,19,,07,1903,1,11,1975,,,,...,,,,,,,,,,
2,23,,08,1934,1,08,1975,,,,...,,,,,,,,,,
3,24,,11,1960,6,06,1975,,,,...,,,,,,,,,,
4,24,,02,1923,1,03,1975,,,,...,,,,,,,,,,

In [4]:
df.groupby("ANODEF").count()

,PROVI,MUNI,MESN,ANON,SEX,MESDEF,NACION,PAISNAC,LUGNAC,PROVNAC,...,TAMAMUNI,TAMAMUNN,TAMAMUNR,TAMAPAISN,TAMAPAISR,TAMAPAISNACION,CBAS,CRED,CPER,CINF
ANODEF,,,,,,,,,,,,,,,,,,,,,
1975,298192,298192,298192,298192,298192,298192,298192,298192,298192,298192,...,298192,298192,298192,298192,298192,298192,298192,298192,298192,298192
1976,299007,299007,299007,299007,299007,299007,299007,299007,299007,299007,...,299007,299007,299007,299007,299007,299007,299007,299007,299007,299007
1977,294324,294324,294324,294324,294324,294324,294324,294324,294324,294324,...,294324,294324,294324,294324,294324,294324,294324,294324,294324,294324
1978,296781,296781,296781,296781,296781,296781,296781,296781,296781,296781,...,296781,296781,296781,296781,296781,296781,296781,296781,296781,296781
1979,291213,291213,291213,291213,291213,291213,291213,291213,291213,291213,...,291213,291213,291213,291213,291213,291213,291213,291213,291213,291213
1980,289344,289344,289344,289344,289344,289344,289344,289344,289344,289344,...,289344,289344,289344,289344,289344,289344,289344,289344,289344,289344
1981,293386,293386,293386,293386,293386,293386,293386,293386,293386,293386,...,293386,293386,293386,293386,293386,293386,293386,293386,293386,293386
1982,286655,286655,286655,286655,286655,286655,286655,286655,286655,286655,...,286655,286655,286655,286655,286655,286655,286655,286655,286655,286655
1983,302569,302569,302569,302569,302569,302569,302569,302569,302569,302569,...,302569,302569,302569,302569,302569,302569,302569,302569,302569,302569
1984,299409,299409,299409,299409,299409,299409,299409,299409,299409,299409,...,299409,299409,299409,299409,299409,299409,299409,299409,299409,299409
1985,312532,312532,312532,312532,312532,312532,312532,312532,312532,312532,...,312532,312532,312532,312532,312532,312532,312532,312532,312532,312532
1986,310413,310413,310413,310413,310413,310413,310413,310413,310413,310413,...,310413,310413,310413,310413,310413,310413,310413,310413,310413,310413
1987,310073,310073,310073,310073,310073,310073,310073,310073,310073,310073,...,310073,310073,310073,310073,310073,310073,310073,310073,310073,310073
1988,319437,319437,319437,319437,319437,319437,319437,319437,319437,319437,...,319437,319437,319437,319437,319437,319437,319437,319437,319437,319437
1989,324796,324796,324796,324796,324796,324796,324796,324796,324796,324796,...,324796,324796,324796,324796,324796,324796,324796,324796,324796,324796
1990,333142,333142,333142,333142,333142,333142,333142,333142,333142,333142,...,333142,333142,333142,333142,333142,333142,333142,333142,333142,333142
1991,337691,337691,337691,337691,337691,337691,337691,337691,337691,337691,...,337691,337691,337691,337691,337691,337691,337691,337691,337691,337691
1992,331515,331515,331515,331515,331515,331515,331515,331515,331515,331515,...,331515,331515,331515,331515,331515,331515,331515,331515,331515,331515
1993,339661,339661,339661,339661,339661,339661,339661,339661,339661,339661,...,339661,339661,339661,339661,339661,339661,339661,339661,339661,339661
1994,338242,338242,338242,338242,338242,338242,338242,338242,338242,338242,...,338242,338242,338242,338242,338242,338242,338242,338242,338242,338242
1995,346227,346227,346227,346227,346227,346227,346227,346227,346227,346227,...,346227,346227,346227,346227,346227,346227,346227,346227,346227,346227
1996,351449,351449,351449,351449,351449,351449,351449,351449,351449,351449,...,351449,351449,351449,351449,351449,351449,351449,351449,351449,351449
1997,349521,349521,349521,349521,349521,349521,349521,349521,349521,349521,...,349521,349521,349521,349521,349521,349521,349521,349521,349521,349521
1998,360511,360511,360511,360511,360511,360511,360511,360511,360511,360511,...,360511,360511,360511,360511,360511,360511,360511,360511,360511,360511
1999,371102,371102,371102,371102,371102,371102,371102,371102,371102,371102,...,371102,371102,371102,371102,371102,371102,371102,371102,371102,371102
2000,360391,360391,360391,360391,360391,360391,360391,360391,360391,360391,...,360391,360391,360391,360391,360391,360391,360391,360391,360391,360391